html 
    head 
        title PROFES SOS
    

    body 
        nav 
            a(href="/") Home
            a(href="/login") Login
            a(href="/logout") Logout

            h1 PROFES SOS
            a(href="/tutoriales/search") Utilizar buscador
            each tutorial in tutoriales
            .tutorial
                h2= tutorial.titulo
                p= tutorial.descripcion
                p Tema: #{tutorial.tema}
                p Autor: #{tutorial.autor}
                p Total de likes: #{tutorial.totalVotos}
                button Like
                hr